{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Yoga Class Descriptions | Do Love : Do Yoga{% endblock %}
{% block description %}Detailed class descriptions for yoga classes taught by Teresa Jugovich{% endblock %}

{% block slider %}
{% endblock %}

{% block yoga_class_active%}class="active"{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Class Descriptions</h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content" style="padding-top: 10px;">
        <div class="headline"><h2>Classes</h2></div>
    	<div class="row">
        	<div class="col-md-12">
                <!-- Classes Block-->
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <h3 id="community">Community Vinyasa</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> <a class="linked" href="/yoga_locations">Modus Locus</a></li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.moduslocusmpls.com" target="_blank">moduslocusmpls.com</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> All Levels</li>
                            <li data-toggle="tooltip" class="tooltips" title="Tuesday 7:45 pm - 9:00 pm Saturday 10:30 am - 12:00 pm"><i class="fa fa-clock-o color-green"></i> <a href="{{ BASE_URL }}/yoga_schedule">Full Schedule</a></li>
                        </ul>
                        <p>This class is for new yogis, experienced yoginis, their parents, professional athletes and/or people that can’t touch their toes. If it’s your first yoga class, fear not, you’ll be fine. If you’ve been practicing for 2 decades, I promise you won’t be bored. Modifications will be given to compliment any practice level. We will stay rooted and focus on alignment while breathing and opening our hearts together as a community.</p>
                        <p>In each class you can expect to: sweat, laugh and leave feeling a step closer to nirvana.</p>
                    </div>
                </div>
                <!-- End Classes Block-->

                <!-- Classes Block-->
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <hr>
                        <h3 id="playdate">Playdate Yoga</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> <a class="linked" href="/yoga_locations">Modus Locus</a></li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.moduslocusmpls.com" target="_blank">moduslocusmpls.com</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> All Levels</li>
                            <li data-toggle="tooltip" class="tooltips" title="Wednesday 10:00 am - 11:00 am"><i class="fa fa-clock-o color-green"></i> <a href="{{ BASE_URL }}/yoga_schedule">Full Schedule</a></li>

                        </ul>
                        <p>Want to get on your mat, but don’t have a sitter?</p>
                        <p>This Community Vinyasa class is open to EVERYONE including caregivers and their children. We will move through a simple vinyasa flow, focus on breath, incorporate our children and enjoy the sounds of them playing around us. Bring a few toys (that won’t pose a choking hazard for the wee littles) and an open mind. Yogis 12 and under study for free.</p>

                    </div>
                </div>
                <!-- End Classes Block-->

                <!-- Classes Block-->
                <!--
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <hr class="devider devider-db">
                        <h3>Prenatal Yoga</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> Modus Locus</li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="https://www.facebook.com/moduslocus" target="_blank">facebook.com/moduslocus</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> Prenatal</li>
                            <li data-toggle="tooltip" class="tooltips" title="Saturday 9:00 am - 10:15 am   "><a href="{{ BASE_URL }}/yoga_schedule"><i class="fa fa-clock-o color-green"></i></a></li>
                        </ul>
                        <p>Teresa’s approach to all yoga is a perfect integration of practicing from the heart while finding deep physical challenge and relaxation.</p>
                        <p>Her prenatal yoga class is no exception to the rule.  In this class, mamas-to-be will flow with their breath, stretch, strengthen and explore new possibilities with their body and mind.  Yoga is a great way for women to maintain health during pregnancy, keep a calm mind and stay connected with their babies.  Come get your groove on!  No experience required.  Dress comfortably and come prepared to breathe and have fun!!</p>

                    </div>
                </div>
                -->
                <!-- End Classes Block-->

            </div><!--/col-md-9-->
        </div><!--/row-->
        <div class="headline" id="workshops"><h2>Workshops</h2></div>
        <div class="row">
        	<div class="col-md-12">
                <!-- Classes Block-->
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <h3 id="workshop_1">Gentle Vinyasa & Restorative Yoga</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> <a class="linked" href="/yoga_locations">Modus Locus</a></li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.moduslocusmpls.com" target="_blank">moduslocusmpls.com</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> All Levels</li>
                            <li data-toggle="tooltip" class="tooltips" title="March 25: 7:00 - 9:00 pm"><i class="fa fa-clock-o color-green"></i> <a href="{{ BASE_URL }}/yoga_schedule">March 25th: 7 - 9 PM</a></li>
                        </ul>
                        <p>Unwind your way into the weekend with this slow moving, deep breathing, gentle and restorative workshop. While incorporating pranayama and meditation, we will move mindfully while rejuvenating our bodies and spirits. Come melt into springtime and leave any residual winter tension behind. As always, you’ll find yourself one practice closer to nirvana.</p>
                        <p>Preregistration is required!<br/>$25 or 2 punches on a 10 class pass</p>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a href="http://cash.me/$DoLove" target="_blank">cash.me/$DoLove</a><br/>OR email Do Love yogi <a href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
                <!-- End Classes Block-->
            </div><!--/col-md-9-->
        </div><!--/row-->
        <div class="row">
        	<div class="col-md-12">
                <!-- Classes Block-->
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <h3 id="workshop_2">Partner Yoga</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> <a class="linked" href="/yoga_locations">Modus Locus</a></li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.moduslocusmpls.com" target="_blank">moduslocusmpls.com</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> All Level Partners</li>
                            <li data-toggle="tooltip" class="tooltips" title="April 29th: 7:00 - 9:00 pm"><i class="fa fa-clock-o color-green"></i> <a href="{{ BASE_URL }}/yoga_schedule">April 29th: 7 - 9 PM</a></li>
                        </ul>
                        <p>Partner Yoga is one of the deepest ways we can connect with one another. Through syncing our breathing and moving in union, we can allow our hearts to come together, find joy and transcend our minds. In this partner yoga workshop will combine partner meditation, asana, massage, laughter & chocolate. All partners (friends/lovers/spouses) welcome. Breathe into your heart, connect with your spirit and find your flow practicing together!</p>
                        <p>Preregistration is required!<br/>$35 per couple or 3 punches on a 10 class pass</p>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a href="http://www.cash.me/$DoLove" target="_blank">cash.me/$DoLove</a><br/>OR email Do Love yogi <a href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
                <!-- End Classes Block-->
            </div><!--/col-md-9-->
        </div><!--/row-->
        <div class="row">
        	<div class="col-md-12">
                <!-- Classes Block-->
                <div class="row clients-page">
                    <div class="col-md-offset-2 col-md-9">
                        <h3 id="workshop_3">Extended Vinyasa Yoga</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-map-marker color-green"></i> <a class="linked" href="/yoga_locations">Modus Locus</a></li>
                            <li><i class="fa fa-globe color-green"></i> <a class="linked" href="http://www.moduslocusmpls.com" target="_blank">moduslocusmpls.com</a></li>
                            <li><i class="fa fa-odnoklassniki color-green"></i> All Levels</li>
                            <li data-toggle="tooltip" class="tooltips" title="May 27th: 7:00 - 9:00 pm"><i class="fa fa-clock-o color-green"></i> <a href="{{ BASE_URL }}/yoga_schedule">May 27th: 7 - 9 PM</a></li>
                        </ul>
                        <p>Move deep in your body, clear your mind, open a channel to the source and take an adventure into your soul. In this extended Vinyasa session we will start with guided meditation, move through an intentional asana practice, explore pranayama and enter space for deep meditation. Class runs 120 minutes with an invitation to stay in silent meditation an additional 30 minutes.</p>
                        <p>Preregistration is required!<br/>$25 or 2 punches on a 10 class pass</p>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a href="http://www.cash.me/$DoLove" target="_blank">cash.me/$DoLove</a><br/>OR email Do Love yogi <a href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
                <!-- End Classes Block-->
            </div><!--/col-md-9-->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}