{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Yoga Pricing | Do Love : Do Yoga{% endblock %}
{% block description %}Pricing details for yoga classes and workshops taught by Teresa Jugovich{% endblock %}

{% block yoga_active %}active{% endblock %}
{% block yoga_price_active %}class="active"{% endblock %}
{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Yoga Pricing<Doulas></Doulas></h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->

{% block content %}
    <div class="container content">
        <!-- Pricing Table-v8 - Modus Locas -->
        <div class="headline"><h2>Classes</h2></div>
        <div class="row row-no-space margin-bottom-10">
            <div class="col-md-6 col-sm-6">
                <div class="pricing-table-v8 service-block-light-green sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Drop In</h2>
                        <span><i class="dollar">$</i>12</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="pricing-table-v8 service-block-orange sm-margin-bottom-30 md-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">10 Class Package</h2>
                        <span><i class="dollar">$</i>100</span>
                    </div>
                </div>
            </div>

           <!-- <div class="col-md-offset-4 col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-light-green sm-margin-bottom-30 md-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Private Lesson</h2>
                        <span><i class="dollar">$</i>80<i>60 min</i></span><br>
                        <span><i class="dollar">$</i>100<i>90 min</i></span>
                        <p>Reserve your time today for a in-depth personalized yoga class, small groups welcome!</p>
                        <a href="#" class="btn-u btn-brd btn-u ">Purchase Now</a>
                    </div>
                </div>
            </div>-->

        </div>
        <!-- End Pricing Table-v8 - Modus Locas -->
        <div class="headline"><h2>Workshops</h2></div>
           <div class="row row-no-space margin-bottom-10">
            <div class="col-md-6 col-sm-6">
                <div class="pricing-table-v8 service-block-brown sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Gentle Vinyasa & Restorative Yoga</h2>
                        <span>
                            <div class="col-sm-3"><i class="dollar">$</i>25</div>
                            <div class="col-sm-2"><i>OR</i></div>
                            <div class="col-sm-7">2<i>class pass punches</i></div>
                        </span>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a style="color: lightgrey;" href="http://www.cash.me/$DoLove" target="_blank">cash.me/$DoLove</a>
                            <br/>OR <br/>email Do Love yogi <a style="color: lightgrey;" href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="pricing-table-v8 service-block-brown sm-margin-bottom-30 md-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">Partner Yoga</h2>
                        <span>
                            <div class="col-sm-4"><i class="dollar">$</i>35<i>/couple</i></div>
                            <div class="col-sm-2"><i>OR</i></div>
                            <div class="col-sm-6">3<i>class pass punches</i></div>
                        </span>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a style="color: lightgrey;" href="http://www.cash.me/$DoLove" target="_blank">cash.me/$DoLove</a>
                            <br/>OR <br/>email Do Love yogi <a style="color: lightgrey;" href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
            </div>
           </div>
        <div class="row row-no-space margin-bottom-10">
            <div class="col-md-offset-3 col-md-6 col-sm-6">
                <div class="pricing-table-v8 service-block-brown">
                    <div class="service-block ">
                        <h2 class="heading-md">Extended Vinyasa Yoga</h2>
                        <span>
                            <div class="col-sm-3"><i class="dollar">$</i>25</div>
                            <div class="col-sm-2"><i>OR</i></div>
                            <div class="col-sm-7">2<i>class pass punches</i></div>
                        </span>
                        <p>Enroll 1 of 2 ways:<br/>Send Fee + Your Name(s) + Workshop date online @ <a style="color: lightgrey;" href="http://www.cash.me/$DoLove" target="_blank">cash.me/$DoLove</a>
                            <br/>OR <br/>email Do Love yogi <a style="color: lightgrey;" href="mailto:teresa.jugovich@gmail.com">teresa.jugovich@gmail.com</a> to enroll with a 10 class pass.</p>
                    </div>
                </div>
            </div>

        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}