{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Yoga Schedule | Teresa Jugovich >> Artist, Yoga Instructor, Doula{% endblock %}
{% block description %}Schedule for upcoming yoga classes and workshops taught by Teresa Jugovich{% endblock %}

{% block yoga_active %}active{% endblock %}
{% block yoga_schedule_active %}class="active"{% endblock %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Yoga Schedule<Doulas></Doulas></h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->


{% block content %}
    <div class="container content">
        <!-- Pricing Table-v8 -->
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Description -->
                <div class="headline"><h2>Modus Locus</h2></div>
                <dl class="dl-horizontal">
                    <dt>Tuesday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp7:45 - &nbsp9:00 pm&nbsp</td>
                                <td><a href="{{ BASE_URL }}/yoga_class">Community Vinyasa</a></td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Wednesday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>10:00 - 11:00 am</td>
                                <td><a href="{{ BASE_URL }}/yoga_class">Playdate Yoga</a></td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Saturday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp9:00 - 10:00 am</td>
                                <td><a href="{{ BASE_URL }}/yoga_class">Playdate Yoga</a></td>
                            </tr>
                            <tr>
                                <td>10:30 - 12:00 pm</td>
                                <td><a href="{{ BASE_URL }}/yoga_class">Community Vinyasa</a></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
                <div class="headline"><h2>Blooma</h2></div>
                <dl class="dl-horizontal">
                    <dt>Wednesday</dt>

                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp6:00 - 7:00 pm&nbsp</td>
                                <td><a href="http://www.blooma.com">Slow Flow Yoga</a></td>
                            </tr>
                            <tr>
                                <td>&nbsp7:15 - 8:30 pm&nbsp</td>
                                <td><a href="http://www.blooma.com">Prenatal Yoga</a></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
                <!-- End Horizontal Description -->
            </div>
        </div>
        <!-- End Pricing Table-v8 -->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}