{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Yoga Schedule | Do Love : Do Yoga{% endblock %}
{% block description %}Schedule for upcoming yoga classes and workshops taught by Teresa Jugovich{% endblock %}

{% block yoga_active %}active{% endblock %}
{% block yoga_schedule_active %}class="active"{% endblock %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Yoga Schedule<Doulas></Doulas></h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->


{% block content %}
    <div class="container content">
        <!-- Pricing Table-v8 -->
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Description -->
                <div class="headline"><h2>Classes</h2></div>
                <dl class="dl-horizontal">
                    <dt>Tuesday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp7:45 - &nbsp9:00 pm&nbsp</td>
                                <td><a href="{{ BASE_URL }}/yoga_class#community">Community Vinyasa</a></td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Wednesday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>10:00 - 11:00 am</td>
                                <td><a href="{{ BASE_URL }}/yoga_class#playdate">Playdate Yoga</a></td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Saturday</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp9:00 - 10:00 am</td>
                                <td><a href="{{ BASE_URL }}/yoga_class#playdate">Playdate Yoga</a></td>
                            </tr>
                            <tr>
                                <td>10:30 - 12:00 pm</td>
                                <td><a href="{{ BASE_URL }}/yoga_class#community">Community Vinyasa</a></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
                <div class="headline"><h2>Workshops</h2></div>
                <dl class="dl-horizontal">
                    <dt>Friday 3/25</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp7:00 - 9:00 pm</td>
                                <td>&nbsp<a href="{{ BASE_URL }}/yoga_class#workshop_1">Gentle Vinyasa & Restorative Yoga</a></td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Friday 4/29</dt>
                    <dd><table class="schedule-table">
                            <tr>
                                <td>&nbsp&nbsp7:00 - 9:00 pm</td>
                                <td>&nbsp<a href="{{ BASE_URL }}/yoga_class#workshop_2">Partner Yoga</a></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
        <!-- End Pricing Table-v8 -->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}