{% extends "layout.html" %}
{% load staticfiles %}

{% block doula_active %}active{% endblock %}
{% block doula_description_active %}class="active"{% endblock %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">What is a Doula?<Doulas></Doulas></h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->
{% block content %}
    <div class="container content">
        <strong>Coming Soon</strong>

    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}