{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Doula Services | Do Love : Make Babies{% endblock %}
{% block description %}Doula services provided by Teresa Jugovich{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static "assets/css/pages/page_pricing.css" %} xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block doula_active %}active{% endblock %}
{% block doula_services_active %}class="active"{% endblock %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Birth Journey Services</h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->

{% block content %}
    <div class="container content">
        <div class="heading heading-v1 margin-bottom-50">
            <h2>Doula Packages</h2>
        </div>
        <!-- Pricing Mega v3 -->
        <div class="row no-space-pricing pricing-mega-v3">
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs ">

                <div class="pricing hidden-area" style="margin-top: 56px;">
                    <div class="pricing-head">

                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li class="bg-color">
                            Initial No Obligation Consultation
                        </li>
                        <li>
                            Prenatal Consultations (60-90 minutes)
                        </li>
                        <li class="bg-color">
                            Unlimited Phone Support
                        </li>
                        <li>
                            Labor and Birth Support
                        </li>
                        <li class="bg-color">
                            Postpartum Visits
                        </li>
                        <li>
                            Yoga Lessons
                        </li>
                        <li class="bg-color">
                            Placenta Print Art
                        </li>
                        <li>
                            Birth Photography
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            Standard
                        </h3>
                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Initial No Obligation Consultation</strong></span>
                        </li>
                        <li>
                            2<span class="hidden-md hidden-lg"><strong>Prenatal Consultations (60-90 minutes)</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Unlimited Phone Support</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Labor and Birth Support</strong></span>
                        </li>
                        <li class="bg-color">
                            120 minutes
                            <span class="hidden-md hidden-lg"><strong>Postpartum Visits</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"><strong>Private Yoga Lesson</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"><strong>Placenta Print Art</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"><strong>Birth Photography</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>
                            Extra Care
                        </h3>

                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Initial No Obligation Consultation</strong></span>
                        </li>
                        <li>
                            3<span class="hidden-md hidden-lg"><strong>Prenatal Consultations (60-90 minutes)</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Unlimited Phone Support</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Labor and Birth Support</strong></span>
                        </li>
                        <li class="bg-color">
                            180 minutes
                            <span class="hidden-md hidden-lg"><strong>Postpartum Visits</strong></span>
                        </li>
                        <li>
                            1<span class="hidden-md hidden-lg"><strong>Private Yoga Lesson</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"><strong>Placenta Print Art</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i>
                            <span class="hidden-md hidden-lg"><strong>Birth Photography</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 block">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3>Artist</h3>

                    </div>
                    <ul class="pricing-content list-unstyled ">
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Initial No Obligation Consultation</strong></span>
                        </li>
                        <li>
                            2<span class="hidden-md hidden-lg"><strong>Prenatal Consultations (60-90 minutes)</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Unlimited Phone Support</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Labor and Birth Support</strong></span>
                        </li>
                        <li class="bg-color">
                            120 minutes
                            <span class="hidden-md hidden-lg"><strong>Postpartum Visits</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-times"></i><span class="hidden-md hidden-lg"><strong>Private Yoga Lesson</strong></span>
                        </li>
                        <li class="bg-color">
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Placenta Print Art</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <span class="hidden-md hidden-lg"><strong>Birth Photography</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  End Pricing Mega v3 -->

    <!--=== Service Block ===-->
        <div class="heading heading-v1">
            <h2>Add-ons</h2>
            <p>Priced for signed clients</p>
        </div>
        <!--=== Service Block ===-->

        <div class="bg-color-light">
            <div class="container content-sm no-bottom-space">
                <div class="row margin-bottom-60">
                    <div class="col-md-4">
                        <div class="service-block-v7">
                            <!--<i class="icon-diamond"></i>-->
                            <h3 class="title-v3-bg text-uppercase">Private Yoga Lessons</h3>
                            <p>Prenatal or Couples Yoga - 5 sessions for $250</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-50">
                        <div class="service-block-v7">
                            <!--<i class="icon-diamond"></i>-->
                            <h3 class="title-v3-bg text-uppercase">Placenta Print Art</h3>
                            <p>Starting at $100 - Contact Teresa for more detailed pricing</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-block-v7">
                            <!--<i class="icon-diamond"></i>-->
                            <h3 class="title-v3-bg text-uppercase">Birth Photography</h3>
                            <p>This is a new service please contact Teresa for details</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-60">
                    <div class="col-md-4 md-margin-bottom-50">
                        <div class="service-block-v7">
                            <!--<i class="icon-diamond"></i>-->
                            <h3 class="title-v3-bg text-uppercase">Childbirth Education</h3>
                            <p>Comprehensive Childbirth Education $300</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-50">
                        <div class="service-block-v7">
                            <!--<i class="icon-diamond"></i>-->
                            <h3 class="title-v3-bg text-uppercase">Comfort Measures for Labor</h3>
                            <p>$100 (2-75 minute sessions)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--=== End Service Block ===-->
    </div>
{% endblock %}