{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Doula Services | Do Love : Make Babies{% endblock %}
{% block description %}Doula services provided by Teresa Jugovich{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static "assets/css/pages/page_pricing.css" %} xmlns="http://www.w3.org/1999/html">{% endblock %}
{% block doula_active %}active{% endblock %}
{% block doula_services_active %}class="active"{% endblock %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Birth Journey Services</h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->

{% block content %}
    <div class="container content">
        <p>Teresa Jugovich of Do Love and Alicia Kornacker of A Monarch Birth are ecstatic to announce the birth of their new joint business venture Doulas of the North.  Together their collaboration with serve families in Twin Cities Metro through pregnancy, birth and the early postpartum journey.  Together they will offer Childbirth Education, Birth Doula & Postpartum Doula Services as well as Prenatal & Postnatal Yoga, Placenta Encapsulation, Lactation Consultation and Birth Photography. Check back soon for updates!! </p>
		<p>If you are interested in reading their biographies or seeing prior client testimonies, please check out <a href="http://www.amonarchbirth.com" target="_blank">amonarchbirth.com</a> or peruse the other sections here.  To contact Doulas of the North email <a href="mailto:doulasofthenorth@gmail.com">doulasofthenorth@gmail.com</a>.  We are so excited about your interest in our services and look forward to hearing from you. </p>
    <!--=== End Service Block ===-->
    </div>
{% endblock %}