{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}Photography Gallery | Do Love : Do Art{% endblock %}
{% block description %}Photo gallery of original works by Teresa Jugovich{% endblock %}

{% block slider %}
{% endblock %}
{% block breadcrumbs %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Gallery</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Photo</a></li>
                <li class="active">Gallery</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

{% endblock %}
{% block content %}
    <!-- Two Columns -->
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">TWO COLUMNS</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row  margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-30">
                <a href={% static "bliss/img/main/img12.jpg" %} rel="gallery" class="fancybox img-hover-v1" title="Image 1">
                    <span><img class="img-responsive" src={% static "assets/img/main/img12.jpg" %} alt=""></span>
                </a>
            </div>
            <div class="col-sm-6 sm-margin-bottom-30">
                <a href={% static "bliss/img/main/img1.jpg" %} rel="gallery" class="fancybox img-hover-v1" title="Image 2">
                    <span><img class="img-responsive" src={% static "assets/img/main/img1.jpg" %} alt=""></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 sm-margin-bottom-30">
                <a href={% static "bliss/img/main/img16.jpg" %} rel="gallery" class="fancybox img-hover-v1" title="Image 3">
                    <span><img class="img-responsive" src={% static "assets/img/main/img16.jpg" %} alt=""></span>
                </a>
            </div>
            <div class="col-sm-6 sm-margin-bottom-30">
                <a href={% static "bliss/img/main/img3.jpg" %} rel="gallery" class="fancybox img-hover-v1" title="Image 4">
                    <span><img class="img-responsive" src={% static "assets/img/main/img3.jpg"%} alt=""></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Two Columns -->

    <hr>

    <!-- Three Columns -->
    <div class="container content">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">THREE COLUMNS</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row  margin-bottom-30">
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                    <span><img class="img-responsive" src="assets/img/main/img2.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                    <span><img class="img-responsive" src="assets/img/main/img4.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="assets/img/main/img5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
                    <span><img class="img-responsive" src="assets/img/main/img5.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-30">
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img6.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
                    <span><img class="img-responsive" src="assets/img/main/img6.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img7.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 5">
                    <span><img class="img-responsive" src="assets/img/main/img7.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="assets/img/main/img8.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 6">
                    <span><img class="img-responsive" src="assets/img/main/img8.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img9.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 7">
                    <span><img class="img-responsive" src="assets/img/main/img9.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="assets/img/main/img10.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 8">
                    <span><img class="img-responsive" src="assets/img/main/img10.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="assets/img/main/img11.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 9">
                    <span><img class="img-responsive" src="assets/img/main/img11.jpg" alt=""></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Three Columns -->

    <hr>

    <!-- Four Columns -->
    <div class="container content">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">FOUR COLUMNS</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row  margin-bottom-30">
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img12.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 1">
                    <span><img class="img-responsive" src="assets/img/main/img12.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img13.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 2">
                    <span><img class="img-responsive" src="assets/img/main/img13.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="assets/img/main/img14.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 3">
                    <span><img class="img-responsive" src="assets/img/main/img14.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img15.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 4">
                    <span><img class="img-responsive" src="assets/img/main/img15.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-30">
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img17.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 5">
                    <span><img class="img-responsive" src="assets/img/main/img17.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img18.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 6">
                    <span><img class="img-responsive" src="assets/img/main/img18.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="assets/img/main/img19.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 7">
                    <span><img class="img-responsive" src="assets/img/main/img19.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img20.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 8">
                    <span><img class="img-responsive" src="assets/img/main/img20.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img21.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 9">
                    <span><img class="img-responsive" src="assets/img/main/img21.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img22.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 10">
                    <span><img class="img-responsive" src="assets/img/main/img22.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="assets/img/main/img23.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 11">
                    <span><img class="img-responsive" src="assets/img/main/img23.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img24.jpg" rel="gallery2" class="fancybox img-hover-v1" title="Image 12">
                    <span><img class="img-responsive" src="assets/img/main/img24.jpg" alt=""></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Four Columns -->

    <hr>

    <!-- Six Columns -->
    <div class="container content">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">SIX COLUMNS</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row  margin-bottom-30">
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img1.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 1">
                    <span><img class="img-responsive" src="assets/img/main/img1.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img2.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 2">
                    <span><img class="img-responsive" src="assets/img/main/img2.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="assets/img/main/img3.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 3">
                    <span><img class="img-responsive" src="assets/img/main/img3.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img4.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 4">
                    <span><img class="img-responsive" src="assets/img/main/img4.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img5.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 5">
                    <span><img class="img-responsive" src="assets/img/main/img5.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img6.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 6">
                    <span><img class="img-responsive" src="assets/img/main/img6.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-30">
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img7.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 7">
                    <span><img class="img-responsive" src="assets/img/main/img7.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img8.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 8">
                    <span><img class="img-responsive" src="assets/img/main/img8.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="assets/img/main/img9.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 9">
                    <span><img class="img-responsive" src="assets/img/main/img9.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img10.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 10">
                    <span><img class="img-responsive" src="assets/img/main/img10.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img11.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 11">
                    <span><img class="img-responsive" src="assets/img/main/img11.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img12.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 12">
                    <span><img class="img-responsive" src="assets/img/main/img12.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-30">
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img13.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 13">
                    <span><img class="img-responsive" src="assets/img/main/img13.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img14.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 14">
                    <span><img class="img-responsive" src="assets/img/main/img14.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="assets/img/main/img15.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 15">
                    <span><img class="img-responsive" src="assets/img/main/img15.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img16.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 16">
                    <span><img class="img-responsive" src="assets/img/main/img16.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img17.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 17">
                    <span><img class="img-responsive" src="assets/img/main/img17.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img18.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 18">
                    <span><img class="img-responsive" src="assets/img/main/img18.jpg" alt=""></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img19.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 19">
                    <span><img class="img-responsive" src="assets/img/main/img19.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img20.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 20">
                    <span><img class="img-responsive" src="assets/img/main/img20.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="assets/img/main/img21.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 21">
                    <span><img class="img-responsive" src="assets/img/main/img21.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img22.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 22">
                    <span><img class="img-responsive" src="assets/img/main/img22.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img23.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 23">
                    <span><img class="img-responsive" src="assets/img/main/img23.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-2 sm-margin-bottom-30">
                <a href="assets/img/main/img24.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 24">
                    <span><img class="img-responsive" src="assets/img/main/img24.jpg" alt=""></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Six Columns -->

    <hr>

    <!-- Full Width -->
    <div class="container-fluid">
        <div class="container">
            <div class="text-center margin-bottom-50">
                <h2 class="title-v2 title-center">FULL WIDTH</h2>
                <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
            </div>
        </div>

        <div class="row no-gutter">
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img1.jpg" rel="gallery4" class="fancybox img-hover-v2" title="Image 1">
                    <span><img class="img-responsive" src="assets/img/main/img1.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img1.jpg" rel="gallery4" class="fancybox img-hover-v2" title="Image 2">
                    <span><img class="img-responsive" src="assets/img/main/img12.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3 sm-margin-bottom-30">
                <a href="assets/img/main/img1.jpg" rel="gallery4" class="fancybox img-hover-v2" title="Image 3">
                    <span><img class="img-responsive" src="assets/img/main/img3.jpg" alt=""></span>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="assets/img/main/img1.jpg" rel="gallery4" class="fancybox img-hover-v2" title="Image 4">
                    <span><img class="img-responsive" src="assets/img/main/img16.jpg" alt=""></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Full Width -->
{% endblock %}