{% extends "layout.html" %}
{% load staticfiles %}

{% block slider %}
{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumbs %}
    <div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">Photo Pricing<Doulas></Doulas></h1>
        </div>
    </div><!--/breadcrumbs-->
{% endblock %}
<!--=== End Breadcrumbs ===-->

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Pricing Light -->
        <div class="row margin-bottom-40 pricing-light">
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="sticker-left">Top</div>
                    <div class="pricing-head">
                        <h3>Begginer <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"> One User </li>
                        <li>10 GB Diskspace</li>
                        <li class="bg-color">10 Emails Addresses</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="sticker-left">Top</div>
                    <div class="pricing-head">
                        <h3>Unify Pro <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"> One User </li>
                        <li>10 GB Diskspace</li>
                        <li class="bg-color">10 Emails Addresses</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color">One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="sticker-left">Top</div>
                    <div class="pricing-head">
                        <h3>Premium <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"> One User </li>
                        <li>10 GB Diskspace</li>
                        <li class="bg-color">10 Emails Addresses</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="sticker-left">Top</div>
                    <div class="pricing-head">
                        <h3>Elite <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"> One User </li>
                        <li>10 GB Diskspace</li>
                        <li class="bg-color">10 Emails Addresses</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Light -->

        <hr class="margin-bottom-60"/>

        <!-- Pricing Dark -->
        <div class="row margin-bottom-40 pricing-medium-light">
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Begginer<span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation <span><i class="fa fa-check"></i></span> </li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Unify Pro <span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Premium <span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Elite<span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-umbrella"></i> Online Protection<span><i class="fa fa-check"></i></span></li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Dark -->

        <!-- Pricing Medium Dark -->
        <div class="row margin-bottom-40 pricing-medium-dark">
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Begginer<span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"><i class="fa fa-gift"></i>Free customisation</li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li class="bg-color"><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li class="bg-color"><i class="fa fa-umbrella"></i> Online Protection</li>
                        <li><i class="fa fa-phone"></i> 24 Hour Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Unify Pro <span>Labore et dolore magnaras</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"><i class="fa fa-gift"></i>Free customisation</li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li class="bg-color"><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li class="bg-color"><i class="fa fa-umbrella"></i> Online Protection</li>
                        <li><i class="fa fa-phone"></i> 24 Hour Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Premium <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"><i class="fa fa-gift"></i> Free customisation</li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li class="bg-color"><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li class="bg-color"><i class="fa fa-umbrella"></i> Online Protection</li>
                        <li><i class="fa fa-phone"></i> 24 Hour Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Elite <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                            </ul>
                        </li>
                        <li class="bg-color"><i class="fa fa-gift"></i> Free customisation</li>
                        <li><i class="fa fa-inbox"></i> 24 hour support</li>
                        <li class="bg-color"><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li class="bg-color"><i class="fa fa-umbrella"></i> Online Protection</li>
                        <li><i class="fa fa-phone"></i> 24 Hour Support</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Medium Dark -->

        <hr class="margin-bottom-60"/>

        <!-- Pricing Dark -->
        <div class="row margin-bottom-40 pricing-dark">
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Begginer <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation <span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Unify Pro <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Premium <span>Labore et dolore magnaras</span></h3>
                    </div>
                  <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star-half-empty fa-2x"></i></li>
                                <li><i class="fa fa-star-o fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-umbrella"></i> Online Protection</li>
                    </ul>
                    <div class="pricing-footer">
                        <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing hover-effect pricing-square-border">
                    <div class="pricing-head">
                        <h3>Elite <span>Labore et dolore magnaras </span></h3>
                    </div>
                 <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                                <li><i class="fa fa-star fa-2x"></i></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-gift"></i> Free customisation<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-inbox"></i> 24 hour support<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-globe"></i> 10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-cloud-upload"></i> Cloud Storage<span><i class="fa fa-check"></i></span></li>
                        <li><i class="fa fa-umbrella"></i> Online Protection<span><i class="fa fa-check"></i></span></li>
                    </ul>

                    <div class="pricing-footer">
                        <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <a href="#" class="btn-u btn-brd btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Dark -->

    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}